<div class="page-container">
    <app-page-title title="Usuários">
        <ng-template #actions>
            <a routerLink="new" class="p-button font-bold"> Novo </a>
        </ng-template>
    </app-page-title>

    <p-table
        [value]="users || []"
        [paginator]="true"
        [lazy]="true"
        [loading]="requestInProgress()"
        [rows]="paginatorState.rows"
        [first]="paginatorState.first"
        [totalRecords]="paginatorState.totalRecords"
        [rowsPerPageOptions]="[paginatorState.initialNumberOfRows, 50, 100]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} de {totalRecords}"
        (onPage)="pageChange($event)"
    >
        <ng-template #header>
            <tr>
                <th>Nome completo</th>
                <th>Nome usuário</th>
                <th>RA</th>
                <th>Polo</th>
                <th>Curso</th>
                <th>Email</th>
                <th>Tipo</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.fullName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.ra }}</td>
                <td>{{ user.pole }}</td>
                <td>{{ user.course }}</td>
                <td>{{ user.emailUnivesp }}</td>
                <td>{{ user.userType }}</td>
                <td>
                    <div class="flex">
                        <a
                            [routerLink]="[user.id]"
                            class="block mr-1 p-button p-button-outlined font-medium"
                        >
                            Editar
                        </a>
                        <p-button
                            class="ml-1"
                            label="Excluir"
                            severity="danger"
                            [outlined]="true"
                            (onClick)="delete(user, $event)"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template #emptymessage>
            <tr>
                <td colspan="8">Não existe nenhum usuário cadastrado.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
